@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 20% 98%;
    --foreground: 0 0% 3.9%;
    --card: 0 20% 99%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 20% 99%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 358 66% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 319 55% 55%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 10% 94%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 319 55% 95%;
    --accent-foreground: 319 55% 35%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 10% 90%;
    --input: 0 10% 90%;
    --ring: 358 66% 46%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 358 66% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 319 55% 55%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 358 66% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}